Module Call_By_Reference

    'This program is able to Call by Reference. 
    'The message is able to show a statement "Good Day" and is targeted at the user and returning a message onto a screen, when compiled
    ' The program manages to reference the calculated message onto the screen via passing arguments to the user as well as the computer itself

    Function CalculateMessage(ByRef toYou As String) As String

        Dim message As String = "Good Day," & toYou

        Return message

    End Function
    'Call the functions by including this statement by using a subroutine

    Sub Main()

        Dim message = 15

        Console.WriteLine("I am going")

        'This time, subroutines are put into place within the message. 
        'As shown in the segment of code above, the message is now an integer rather than a string of characters.
        'Looking at the statement is changed from "I am here" to "I am going"
        'As the statement would be shown on screen instead of showing any integer values, when the program is compiled
    End Sub
End Module



Module Call_By_Value
    Sub Main()
    End Sub
    'This is a call by value function

    Function CalculateName(ByVal toWhom As String) As String

        'The program below is a function program 
        'Which uses a Function to start a program but to close a program End Function

        Dim message As String = "Sukhraj, " & toWhom
        Dim Name As String

        'Call the functions by including this statement for the subroutine

        Name = CalculateName(toWhom)

        'If there is no data on screen, add Console.Write Line

        Console.WriteLine("I am here")

        'Adding Console.WriteLine is a clear reminder that the compiled program may show no values
        'However, including "I am here" as a statement would be on screen 
        'able to call values instead of arguments within a program

        Return message

        'The program should compile a message onto the screen and is shown to the user, as it shows To Whom

    End Function
End Module
